@import '../../styles/mixins';


html, body {
  line-height: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}

h2 {
  margin-top: 3rem;
}

.background {
  background-color: #f3f3f3;
}
.inner-content {
  background-color: #fff;
  padding:.5rem;
  border-radius: 5px;
}
.form-spacing {
  padding: 5em;
}

.navbar {
  background-color: white;
}

.navbar-brand {
  margin-left: 12px !important;
}


.navbar-light .navbar-nav .nav-link {
  color: rgb(44, 121, 87) !important;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(175, 40, 40, 0.7) !important;
}

.navbar {
  padding: .5rem .4rem !important;
}
.modal-open {
  overflow:hidden;
  overflow-y:scroll;
  max-height: 100vh;
}
.modal-body {
  overflow: auto;
}

.left-margin {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f21b3f;
  height: 100%;
  width:15px;
  z-index: 100;
}


.home-index {
  text-align: center;
  .app {
    text-align: center;
  }

  .app-logo {
    animation: app-logo-spin infinite 10s linear;
    height: 80px;
  }

  .rekit-logo {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.08;
    height: 190px;
  }

  .app-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    overflow: hidden;
    position: relative;
  }

  .app-title {
    font-size: 1.5em;
  }

  .app-intro {
    font-size: large;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul {
    margin-top: 20px;
  }
  li {
    margin-top: 10px;
  }

  a {
    color: #0288d1;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  a:hover {
    text-decoration: none;
  }

  p.memo {
    width: 500px;
    color: #999;
    font-size: 12px;
    line-height: 150%;
    margin: auto;
  }

  @keyframes app-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.content {
  margin-top:50px;
  min-height: 100vh;
}

.title {
  margin-bottom: 100px;
  color: #1a5335;
}

.btn-primary {
    color: #fff;
    background-color: #f21b3f;
    
    border-color: none;
    border-radius: 50px;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #06d900;
    border:0;
}

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}
.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(34,50,84,0.03);
}
.inp input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: #07f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}